<!DOCTYPE html>
<html lang="en">
  <!--include reference to page head-->
        {% include 'header.html' %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Oops, encontramos um erro</h2>
                </div>
                </div>
            </div>
        <!-- Include reference to Footer-->
        {% include "footer.html" %}
</html>
