<!DOCTYPE html>
<html lang="en">
  <!--include reference to page head-->
        {% include 'header.html' %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>Olá Núbia, seja bem-vinda!</h2>
                    <h5 class="text-main-page">Data : {{ date }}</h5>
                    <h6>Temperatura: {{ temp_description }} ºC</h6>
                    <h6>Clima: {{ clima_description.capitalize() }}
                        <img src=" {{icon_source}} " height= "35" width= "35" ></h6>
                    <h6>Sensação Térmica: {{ feels_like_description }} ºC</h6>
                    <img src='/IMG_SOURCE' alt="" width="50" height="50">
                </div>
            </div>
        </div>
        <!-- Include reference to Footer-->
        {% include "footer.html" %}
</html>
